


/* Seletor header --> elemento HTML (tag) */

/* ADD á mais */
body{
    background-color: lightpink;
    

}

h1{
    text-align: center;
}

a{  
    text-decoration: none; /*remover a decoração do texto (underline)*/ 
    color: #fff ;/*Cor do texto*/
    font-size: 20px; /*Tamanho da fonte*/
    font-family: Arial, sans-serif; /*Estilo da fonte*/
    padding : 10px; 
    background-color: red;
    display: inline-block

}
header{
    
     background-color:purple;
    width: 100vw;
    height: 20vh;
    text-align: center;
    
}

main{
    text-align: center;
    background-color: lightgreen;

    /* vw - view wight / vh - view height */

    width: 100vw;
    height: 70vh;
}

footer{
    text-align: center;
    background-color: blueviolet;
    width: 100vw;
    height: 10vh;

}