




/* ADD á mais */
body{
    background-color: rgb(4, 47, 241);
    

}

h1{
    text-align: center;
}


/* Todas as tags "a" na página */
a{  
    text-decoration: none; /*remover a decoração do texto (underline)*/ 
    color: #fff ;/*Cor do texto*/
    font-size: 20px; /*Tamanho da fonte*/
    font-family: Arial, sans-serif; /*Estilo da fonte*/
    
}

/* Seletor header --> elemento HTML (tag) */
header{
    
    background-color:rgb(23, 168, 252);
    width: 100vw;
    height: 10vh;
    text-align: center;
    
}

main{
    text-align: center;
    background-color: rgb(135, 206, 240);


    /* vw - view wight / vh - view height */

    width: 100vw;
    height: 85vh;
}


footer{
    text-align: center;
    background-color: rgb(32, 86, 136);
    width: 100vw;
    height: 5vh;

}

section{
/* width --> largura e height --> altura */
    width:  250px; 
    height: 250px;

    /* bordas */
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;

    /* margens */
    margin: 10px auto;
    padding-top: 10px;
   
    

}

/* estilizar com o seletor classe */

.sec-01{
    border-color: darkblue;
    background-color: rgb(255, 255, 255);
}

.sec-01 li {
    color: rgb(1, 5, 255);
    /* Não tem px (pixels) */
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.sec-02 li {
    color: rgb(22, 26, 255);
    /* Não tem px (pixels) */
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.sec-02{
    border-color:mediumslateblue;
    background-color: rgb(255, 255, 255);
}

li{ /*III*/
    /*vvv Sem decoração na lista */
    list-style:none
}

